@page "/identity/account/register"
@using DomainLayer.DTOs
@using Client.Pages.Components
//layout AuthenticationLayout
//inject SfDialogService DialogService

<div class="container">
<div class="row">
    <div class="col-lg-6">
        <EditForm Enhance Model="User" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="card">
                <div class="card-header">Fill this form to Register</div>
                <div class="card-body">
                    <div class="form-group mt-3">
                        <label class="form-label">Fullname</label>
                        <InputText @bind-Value="User.Name" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Email</label>
                        <InputText @bind-Value="User.Email" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Password</label>
                        <input type="password" @bind="User.Password" class="form-control"></input>
                    </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" @bind="User.ConfirmPassword" class="form-control"></input>
                        </div>
                    <div class="form-group mt-3">
                            @if (ShowLoadingButton)
                            {
                                <ButtonSpinner></ButtonSpinner>
                            }
                            else
                            {
                                <button class="btn-outline-primary float-end" type="submit">Register</button>
                            }                  
                    </div>
                </div>
                <div class="card-footer">
                        <span class="text-center">
                            Have account already?
                            <a class="btn-link" href="identity/account/login">Sign In</a>
                        </span>
                        <ValidationSummary />
                    </div>
            </div>
        </EditForm>
    </div>
</div>

</div>



@code {
    [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync() => await CheckUserAuthentication();

    public bool ShowLoadingButton { get; set; } = false;

    RegisterDTO User = new();
    async Task HandleRegistration()
    {
        ShowLoadingButton = true;
        var result = await userAccountService.CreateAsync(User);
        if (result.Flag)
        {
            DisplayDialog(result.Message, "Success");
            User = new();
        }
        else
        {
            DisplayDialog(result.Message, "Alert");
        }
        ShowLoadingButton = false;
    }

    private async void DisplayDialog(string content, string title)
    {
        //await DialogService.AlertAsync(content, title);
    }

    private async Task CheckUserAuthentication()
    {
        var user = (await AuthenticationState!).User;
        bool isUserAuthenticated = user.Identity!.IsAuthenticated;
        if (!isUserAuthenticated) navigationManager.NavigateTo("/home/dashboard");
    }
}
